@import './base.css';




html,body{
  height: 100%;
  background-image: url('https://img.picui.cn/free/2024/06/12/666990851e223.png');
  background-size: cover; /* 或其他背景尺寸控制 */
  background-position: center center; /* 居中背景图片 */
  background-repeat: no-repeat;
}
