@import './base.css';




html,body{
  height: 100%;
  background-image: url('https://pic.ichengzii.com/LightPicture/2024/06/e71c7369ca2ca02e.png');
  background-size: cover; /* 或其他背景尺寸控制 */
  background-position: center center; /* 居中背景图片 */
  background-repeat: no-repeat;
}
